#root {
  width: 100%;
}
.app-cont {
  max-width: 1320px;
  min-height: 600px;
  margin: 0 auto;
}
.app-cont .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-cont .columns {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.app-cont .columns .col {
  max-width: 360px;
  min-height: 300px;
  padding: 1rem;
  border: 1px solid #cecece;
  border-radius: 15px;
}
.columns .col:first-child {
  background-color: rgb(235, 153, 77);
}
.columns .col:nth-child(2) {
  background-color: rgba(80, 133, 255, 0.351);
}
.columns .col:last-child {
  background-color: rgb(176, 255, 80);
}
.app-cont .columns .col .title {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.modal {
  display: none;
}
.btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.modal-content {
  border: none;
}

.task-card {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 15px;
  background: #fff;
  border: 1px solid #cecece;
  border-radius: 15px;
}
.task-card .buttons {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.task-card .draggable {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: all-scroll;
}
.task-card .task-title {
  font-size: 20px;
  font-weight: bold;
}
.task-card .draggable svg {
  width: 24px;
  height: 24px;
}
.task-card .date {
  font-size: 12px;
  font-style: italic;
}
.task-card .user {
  margin-top: 10px;
  padding: 10px;
  background: #3583dc;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
}